.jumbotron {
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/15/13/05/woman-1595368__340.png);
  background-color: #3C280D;
  color: #FF6700;
}
#header {
  font-size: 40pt;
  font-weight: bold;
}
.card-body{
  text-align: center;
  
}
table, th, td{
  border: 2px solid burlywood;
}
.introduction{
  text-align: justify;
}